@model ProgrammerAl.Site.PostDataEntities.PostEntry

@{
    string comicSrcLink = null;

    // if (Model.TryGetPngComicLink(out var comicLink))
    if (Model.TryGetSvgComicLink(out var comicLink))
    {
        comicSrcLink = $"__StorageSiteUrl__/storage/Posts/{comicLink}";
    }
}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>@(Model.TitleHumanReadable)</title>
    <meta charset="utf-8">
    <meta name="description" content="The personal site for Al Rodriguez, AKA ProgrammerAL. This site has blog posts, personal links like GitHub and Twitter, and other items of the like.">
    <meta name="author" content="Al Rodriguez aka ProgrammerAL">
    <meta name="keywords" content="Blog, Azure, .NET, Programming, Software Development, C#">
    <meta name="google-site-verification" content="yiV1UDeEs1YKSvwq2GPgO6bEAEnPh8sX8JjqIennzuw">

    <meta property="og:site_name" content="ProgrammerAL.com">
    <meta property="og:title" content="@(Model.TitleHumanReadable)">
    <meta property="og:url" content="@($"https://ProgrammerAL.com/posts/{Model.TitleLink}")">
    <meta property="og:publish_date" content="@(Model.ReleaseDate.ToString("yyyy-MM-dd"))">
    <meta property="og:type" content="article">

    @if (!string.IsNullOrWhiteSpace(comicSrcLink))
    {
        <meta property="og:image" content="@comicSrcLink">
    }

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@ProgrammerAL">
    <meta name="twitter:creator" content="@@ProgrammerAL">
</head>

<body>
    <p>This is the static meta tags page for: @($"https://ProgrammerAL.com/posts/{Model.TitleLink}")</p>

    @if (!string.IsNullOrWhiteSpace(comicSrcLink))
    {
        <img src="@comicSrcLink" />
    }
</body>

</html>
