@model DynamicContentUpdater.Entities.PostEntry

<div class="post-title">
    <h1>
        @Model.TitleHumanReadable
    </h1>
    <p> Posted on: @Model.ReleaseDate.ToLongDateString()</p>
    @if (Model.Tags.Any())
    {
        <p> Tags: @(string.Join(", ", Model.Tags))</p>
    }

</div>

@if (Model.TryGetComicLink(out string comicImageLink))
{
    var srcLink = $"https://programmeralsitecontent.blob.core.windows.net/sitecontent/Posts/{comicImageLink}";
    <div class="post-comic-image">
        <img src="@srcLink" />
    </div>
}

<div class="post-content">
    @Raw(Model.PostHtml)
</div>


