@page "/posts/{PostUrl}/slides/{Index:int}"
@page "/drafts/{PostUrl}/slides/{Index:int}"
@layout EmptyLayout
@using System.Text.Encodings.Web;
@using ProgrammerAl.Site.Components
@using ProgrammerAl.Site.Components.AnimatedComponents

@if (PostData is object)
{
    <HeadContent>
        <meta name="og:type" content="article" />

        <meta name="og:title" content="@(PostData.Metadata.Title)" />
        <meta name="twitter:title" content="@(PostData.Metadata.Title)" />
        <meta property="og:url" content="@($"https://ProgrammerAL.com/posts/{PostUrl}/slides/{Index}")" />
        <meta property="twitter:url" content="@($"https://ProgrammerAL.com/posts/{PostUrl}/slides/{Index}")" />
    </HeadContent>
}

@if (string.IsNullOrWhiteSpace(SlidesHtml.Value))
{
    <div class="place-self-center">
        <GreenSpinnerComponent TailwindCssHeightClass="h-12" TailwindCssWidthClass="w-12" />
    </div>
}
else
{
    @* Display inside an iframe so we keep the styling of the presentation *@
    <iframe srcdoc="@SlidesHtml"
            style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
        >
    </iframe>
}
